@import "../sass/mixins.scss";

.video-block {
	color: color(white);
	height: 0;
	overflow: hidden;
	padding-top: 88%;
	position: relative;

	@include respond-to(medium) {
		padding-top: 52%;
	}

	video {
		bottom: 0;
		display: none;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;

		@include respond-to(medium) {
			display: block;
			width: 100%; 
		}
	}

	h2 {
		font-family: family(heavy);
		font-size: 4vw;
		font-weight: 700;

		@include respond-to(medium) {
			font-size: 4vw;
			margin: 50px 0;
		}
	}

	svg {
		z-index: 1;
	}
	
	.body {
		@include center;
		width: 100%;
	}
}