@import "../sass/mixins.scss";

.hero {
	color: color(white);
	height: 0;
	overflow: hidden;
	padding-top: 65%;
	position: relative;

	@include respond-to(small) {
		padding-top: 55%;
	}

	@include respond-to(large) {
		padding-top: 42%;
	}

	video {
		bottom: 0;
		display: none;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;

		@include respond-to(medium) {
			display: block;
			width: 100%;
		}
	}

	.body {
		@include center;
		width: 100%;
	}

	svg {
		fill: color(white);
		z-index: 1;
	}

	h1 {
		display: inline-block;
		width: 45%;

		@include respond-to(large) {
			width: 35%;
		}
	}

	h2 {
		font-family: family(heavy);
		font-size: 4vw;
		font-weight: 700;
		margin: 0 0 25px;

		@include respond-to(medium) {
			margin: 50px 0;
		}

		@include respond-to(xlarge) {
			font-size: 56px;
		}
	}

	p {
		font-size: 3vw;


		@include respond-to(medium) {
			font-size: 2vw;
		}
	}

	a {
		@include cta;
		display: inline-block;
		margin-top: 10px;

		&:hover {
			@include ctahover;
		}
	}

	.cta {
		font-size: 1.7vw;

		@include respond-to(small) {
			font-size: toRem(20);
		}
	}
}