@import "../sass/mixins.scss";

.elevator-pitch {
	background-color: color(orange);
	color: color(white);
	font-family: family(heavy);
	font-size: toRem(18);
	position: relative;

	@include respond-to(medium) {
		font-size: toRem(28);
	}

	@include respond-to(large) {
		font-size: toRem(43);
	}

	@include respond-to(large) {
		.pad-this {
			padding: 100px 0;
		}
	}
}