@import "../sass/mixins.scss";

.image-block {
	color: color(white);
	height: 0;
	overflow: hidden;
	padding-top: 88%;
	position: relative;

	@include respond-to(small) {
		padding-top: 75%;
	}

	@include respond-to(small) {
		padding-top: 55%;
	}

	.body {
		@include center;
		width: 100%;
	}

	h2 {
		font-family: family(heavy);
		font-size: 6vw;
		font-weight: 700;
		margin: 0;

		@include respond-to(large) {
			font-size: 4vw;
		}
	}
}