@import "../sass/mixins.scss";

.product-features {
	position: relative;

	@include respond-to(large) {
		h2 {
			font-size: toRem(38);
		}

		h3 {
			font-size: toRem(33);
		}

		p {
			font-size: toRem(20);
		}
	}

	&.blue-bg {
		background-color: color(blue);
		color: color(white);
	}

	.features {
		align-items: stretch;
		display: flex;
		flex-wrap: wrap;
	}

	.feature {
		align-items: stretch;
		display: flex;
		flex: 0 0 50%;
		padding: toRem(5);

		@include respond-to(large) {
			flex: 0 0 25%;
		}
	}

	.wrapper {
		border: 1px solid color(white);
		flex: 1; 
		padding: 10px 10px 0;
		transition: all 0.4s ease(in-out-quart);

		&:hover {
			border-color: color(red);
		}
	}

	.cta {
		align-self: center;
		display: block;
		text-align: center;
		width: 50%;

		@include respond-to(large) {
			width: 25%;
		}

		a {
			@include cta;

			&:hover {
				@include ctahover;
			}
		}
	}

	h2,
	h3 {
		font-family: family(heavy);
	}
}

#product-features.shift-this {
	transform: translateY(-150px);
}