@import '../components/sass/mixins.scss';

.contact-form,
.success {
    color: color(white);
    font-size: toRem(18);
    margin: 0 auto;
    max-width: 768px;
    padding: 150px 0 60px;
    text-align: center;
    width: 100%;

    h2 {
        color: color(white);
    }

    input,
    textarea {
        background-color: rgba(color(white), .5);
        border: 0;
        color: color(black);
        padding: 10px;
        width: 100%;

        &.invalid {
            border: 2px solid color(validation-color);

            &~ .validation-message {
                display: block;
            }
        }

        &.email-invalid {
            border: 2px solid color(validation-color);

            &~ .validation-email {
                display: block;
            }
        }
    }

    input {
        margin-bottom: toRem(16);
    }

    label {
        @include screen-reader-text;
    }

    .submit-container {
        position: relative;
        width: 150px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        overflow: hidden;
        transition: 0.5s;

        button {
            width: 101%;
            height: 100%;
            font-size: 20px;
        }
    }

    .validation-message,
    .validation-email {
        color: color(validation-color);
        display: none;
        text-align: left;
    }
}

.postnobills {
    display: none;
}

.main.success {
    @include center;
    margin: 0;

    hr {
        border: 1px solid color(gray);
        width: 320px;
    }
}

footer.success {
    bottom: 0;
    position: absolute;
    max-width: none;
    width: 100%;
}