@import "../sass/mixins.scss";

.elevator-pitch {
	background-color: color(orange);
	color: color(white);
	font-family: family(heavy);
	font-size: toRem(18);
	font-weight: 400;
	position: relative;

	h2 {
		font-weight: 700;
		@include respond-to(medium) {
			font-size: toRem(28);
		}
	
		@include respond-to(large) {
			font-size: toRem(34);
		}
	}

	p {
		font-family: family(heavy);
		font-size: toRem(22);
		font-weight: 400;
	}
}