@import "../sass/mixins.scss";

header {
	background-color: color(gray);

	.super-header {
		align-items: center;
		color: color(orange);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: toRem(25) 0;

		@include respond-to(small) {
			justify-content: space-between;
		}
	}

	.logo {
		width: 250px;
	}

	h1,
	p {
		margin: 0;
	}

	p {
		font-size: toRem(18);

		@include respond-to(small) {
			margin-bottom: toRem(7);
		}

		@include respond-to(medium) {
			font-size: toRem(24);
		}
	}

	svg {
		fill: color(orange);
	}
}