@import "../sass/mixins.scss";

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    &.home {
        position: fixed;
    }

    a {
        color: color(white);
        display: block;
    }

    ul {
        display: flex;
        justify-content: center;

        @include respond-to(iphonesPlusL) {
            justify-content: flex-end;
        }
    }

    li {
        font-size: toRem(16);
        list-style: none;
        margin: 0;
    }

    .nav-container {
        background-color: rgba($black, 0.7);
        font-family: family(links);
        padding: 0 toRem(16);
        text-transform: uppercase;

        a {
            background-color: transparent;
            padding: toRem(8) toRem(16);
            transition: background-color .2s linear;

            &:hover {
                background-color: $orange;
            }
        }
    }

    .logo {
        margin: toRem(16);

        h1 {
            margin: 0;
            text-align: center;

            @include respond-to(iphonesPlusL) {
                text-align: left;
            }
        }

        svg {
            width: 275px;

            @include respond-to(iphonesPlusL) {
                width: 375px;
            }
        }
    }

    svg {
        fill: color(white);
    }
}