@import "../sass/mixins.scss";

header {
	background-color: color(gray);

	.logo {
		width: 65%;

		@include respond-to(small) {
			width: 35%;
		}

		@include respond-to(large) {
			transform: translateY(3px);
			width: 18%;
		}
	}

	h1,
	p {
		margin: 0;
	}

	p {
		font-size: toRem(18);

		@include respond-to(small) {
			margin-bottom: toRem(7);
		}

		@include respond-to(medium) {
			font-size: toRem(24);
		}
	}

	svg {
		fill: color(orange);
	}

	.link-bar {
		background-color: color(black);
		font-size: toRem(12);
		padding: toRem(0) 0;
		text-align: right;
	
		p {
			margin: 0;
		}
	
		a {
			color: color(white);
			text-decoration: underline;
		}
	}
}
