@import "../../sass/mixins.scss";

footer {
	background-color: color(orange);
	color: color(white);
	padding: 32px 0 50px;

	h1 {
		margin: 0;
	}

	h2 {
		font-family: family(heavy);
		font-size: toRem(21);
		font-weight: 700;
		margin: 0;
	}

	p {
		margin: 0;
	}

	a {
		color: color(white);

		&:hover {
			text-decoration: underline;
		}
	}

	.logo {
		width: 200px;
	}

	svg {
		fill: color(white);
	}

	.super-footer {
		border-bottom: 1px solid color(white);		
		padding-bottom: 20px;

		.container {
			display: flex;
			flex-direction: column;

			@include respond-to(small) {
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
				
			}
		}

		p {
			font-size: toRem(18);
	
			@include respond-to(small) {
				font-size: toRem(24);
				margin-bottom: toRem(7);
			}
		}
	}

	.footer-body {
		padding: 20px 0;
	}

	.columns {
		align-items: flex-start;
		display: flex;
		flex-direction: column;

		@include respond-to(small) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.column {
		order: 2;

		@include respond-to(small) {
			order: 1;
		}
	}

	.column:nth-of-type(2) {
		display: flex;
		order: 1;

		@include respond-to(small) {
			order: 2;
		}

		div {
			flex: 1;
		}
	}

	.emails {
		font-size: toRem(24);
		font-style: italic;
		margin-top: toRem(25);

		@include respond-to(small) {
			margin-top: 0;
		}
	}

	.social {
		display: flex;
		margin-top: toRem(25);

		li {
			height: 47px;
			margin-right: 10px;
			width: 47px;
		}
	}
	
	.menu,
	.address {
		padding: 0 toRem(16);

		@include respond-to(large) {
			padding: 0;
		}

		p,
		ul {
			font-size: toRem(18);
			margin-top: toRem(15);
		}
	}

	@include respond-to(medium) {
		.menu {
			margin-right: toRem(38);
		}
	}

	@media not all and (min-resolution:.001dpcm) {
		.menu {
			margin-right: toRem(8);
		}
	}

	.sub-footer {
		border-top: 1px solid color(white);
		padding-top: 4px;

		p {
			margin-top: toRem(16);
		}

		@include respond-to(small) {
			.columns {
				flex-direction: column;
			}
		}

		@include respond-to(medium) {
			.columns {
				flex-direction: row;
			}
		}
	}
}