@import '../sass/mixins.scss';

nav {
	background-color: color(orange);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	position: relative;

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: z(mobile-nav);
	}

	.container {
		align-items: center;
		display: flex;
		height: 75px;
	}

	.logo {
		@include respond-to(large) {
			margin-right: toRem(25);
		}

		h1 {
			font-size: 0;
			margin: 0;
		}
		svg {
			fill: color(white);
		}
	}

	ul {
		align-items: center;
		background-color: color(orange);
		bottom: 0;
		box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-size: toRem(20);
		justify-content: flex-start;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		@include respond-to(large) {
			box-shadow: none;
			flex-direction: row;
			position: static;
		}

		@include respond-to(xlarge) {
			font-size: toRem(24);
		}
	}

	li {
		margin: 0;
		width: 100%;

		@include respond-to(large) {
			width: auto;
		}
	}

	a {
		border-bottom: 2px solid rgba(color(white), 0);
		color: color(white);
		display: block;
		padding: toRem(8) toRem(16);
		transition: all 0.4s linear;
		width: 100%;

		@include respond-to(large) {
			padding: 0;
			text-align: center;
		}

		&.active {
			font-family: family(heavy);
			font-weight: 700;
		}

		&:hover span {
			border-bottom: 2px solid rgba(color(white), 1);
		}
	}

	.sign-in {
		padding: 0 toRem(16);

		@include respond-to(large) {
			padding: 0;
			position: absolute;
			right: toRem(32);
		}

		@include respond-to(xlarge) {
			right: 0;
		}

		a {
			background-color: rgba(color(white), 0.3);
			border: 1px solid color(white);
			border-radius: 4px;
			padding: 5px 10px;
			transition: background-color 0.2s linear;

			&:hover {
				background-color: transparent;
				text-decoration: none;
			}
		}
	}

	.nav-closure {
		height: 100%;
		position: fixed;
		right: -100%;
		top: 0;
		width: 300px;
		transition: right 0.4s ease(in-out-quart);
		z-index: z(mobile-nav);

		@include respond-to(large) {
			display: flex;
			position: static;
			width: auto;
		}

		&.active-menu {
			right: 0;
		}
	}

	.hamburger {
		top: 50%;
		transform: translateY(-50%);
	}
}